<div class="ui grid">


  <div class="eight wide column">
    <div class="ui grid">
      <ng-container *ngFor="let skill of skills">
        <div class="four wide header column">{{skill.category}}</div>
        <div class="twelve wide description column">{{skill.skills}}</div>
      </ng-container>
    </div>
  </div>

  <div class="eight wide column">
    <div class="ui info message">
      <div class="header">
        Project description
      </div>
      <ul class="list">
        <li *ngFor="let task of tasks">{{task}}</li>
      </ul>
    </div>
  </div>

</div>