@import '../../core/colors.core.scss';

.ui.grid {
  margin: .35rem 0 0 0;
}

.column {
  padding: 0 !important;
}

.inline {
  display: inline-block;
}

.tiny.header {
  margin-bottom: 0;
  color: $secondary;
  font-size: small;
  font-weight: normal;
}

.sub.header {
  float: right;
  color: #AAA;
  font-size: smaller;
}

.description {
  font-size: smaller;
  text-align: justify;
}

.date {
  font-size: smaller;
}