<div class="ui small header">
  <div class="content">
    {{project?.title}}
    <div class="sub header">{{project?.position}}</div>
  </div>
  <div class="ui small right-floated blue image label">
    {{project?.duration}}
    <div class="detail">{{project?.teamSize}} <i class="user icon"></i></div>
  </div>
  <div class="ui small right-floated orange image label">
    {{project?.client}}
  </div>
  <a *ngIf="project?.github" class="github right-floated" href="{{project.github}}" target="blank">
    <i class="fitted github icon"></i>
  </a>
</div>
<div class="meta">
  <span></span>
</div>
<div class="description">
  <p [innerHtml]="project?.description"></p>
</div>
<div class="extra">
  <div *ngFor="let keyword of project?.keywords" class="ui horizontal label">{{keyword}}</div>
</div>